.LogoStyle{
    height: 150px;
}




.Navbar{
  background-color: rgba(157, 105, 79, 0.574);
  background-color: white;
}
.Navbar a{
    color: #401b05; 
    transition: color 0.3s ease; 
}
.Navbar a:hover{
  color: #d05e1cc5;
}

  /* Navbar.module.css */


.socialLinks i {
    color: #401b05; 
    transition: color 0.3s ease; 
  }
  
  .socialLinks i:hover {
    color: #d05e1cc5;
  }
  