.SocialLinks a i {
    color: white;
}

.SocialLinks a i:hover {
    color:  #1f0c00c5;
   background-color:white ;
}
.LinkBoarder {
    margin-right: 1px;
}
.LinkBoarder a i{
    
    border: solid 2px #401b05;
    border-radius: 50%;
    background-color: #401b05;
    color: white;
    padding: 5px;
}
.UsefulLinks{
    margin-bottom: 20px;
}
.UsefulLinks a{
    
    color: #401b05;
    font-size:20px;
}
.UsefulLinks a:hover{
    color: #291307c5;
}
.UsefulLinks p{
    color: #401b05;
    font-size: 12px;


}
.UsefulLinks p:hover{
    color: #291307c5;
   
}

.Line{

margin-top: 25px;
color: #401b05;
border: #401b05 solid 1px ;

}
.texts p{
    font-size: 15px;

}