

*{
    padding: 0;
    margin: 0;
  }
  /* General App Styles */

  .upbtn {
    border: #d05e1cc5 solid 5px;
    border-radius: 50%;
    padding: 10px 20px;
    background-color: #d05e1cc5;
    position: fixed; /* Fixed position for a consistent location */
    bottom: 20px; /* Position it from the bottom */
    right: 20px; /* Keep it aligned to the right */
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it's on top of other content */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background change */
  }
  
  .upbtn.show {
    display: block; /* Show button when scrolled enough */
  }
  
  .upbtn i {
    font-size: 20px; /* Corrected to control the size of the icon */
    color: #401b05;
  }
  
  .upbtn i:hover {
    color:#ffffffc5;
  }
  